{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block header %}
    <h2>Edit entry:</h2>
{% endblock header %}

{% block content %}
  <p><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></p>

  <form class="form" action="{% url 'learning_logs:edit_entry' entry.id %}" method="post">

      {% csrf_token %}
      {% bootstrap_form form %}
      {% bootstrap_button "Save changes" button_type="submit" button_class="btn-primary" %}
      <a href="{% url 'learning_logs:delete_entry' entry.id %}" class="btn btn-primary">Delete entry</a>
  </form>

{% endblock content %}