{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block header %}
    <h2>Add a new entry:</h2>
{% endblock header %}

{% block content %}
  <p><a class="badge badge-primary" href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></p>

  <form class="form" action="{% url 'learning_logs:new_entry' topic.id %}" method="post">

      {% csrf_token %}
      {% bootstrap_form form %}
      {% bootstrap_button "Add entry" button_type="submit" button_class="btn-primary" %}

  </form>

{% endblock content %}