{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block header %}
    <h2>Log in to your account.</h2>
{% endblock header %}

{% block content %}

    <form method="post" action="{% url 'users:login' %}" class="form">

        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button "Log in" button_type="submit" button_class="btn-primary" %}

        <input type="hidden" name="next" value="{% url 'learning_logs:index' %}" />
    </form>

{% endblock content %}